
$bgColor: rgb(51, 102, 255);

.form-label {
    padding: 3px;
}

input {
    // border: 1px solid rgb(206, 90, 90);
    border-radius: 4px;
    height: 32px;
    padding: 0px 12px;
    width: 100%;
    text-align: left;
}

.submit {
    align-items: center;
    background-color: $bgColor;
    border-radius: 4px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    flex-wrap: nowrap;
    height: 40px;
    justify-content: center;
    min-width: 40px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    text-align: center;
}
