$header-height: 80px;
$padding: 10px;
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: black;


    &-logo {
        height: $header-height;
        pointer-events: none;
        padding: $padding;
    }

    &-user-menu {
        padding: $padding;
        flex-grow: 1;
        // width: 50%;
        // padding: 0px;
        // margin: 0;
        text-align: right;
    }
}
